{% extends 'dashboard.html' %}
{% block dashboard_content %}
    <div class="my-account mt-4 relative h-fit">
        <div class="flex justify-end">
            <a href="{{ url_for('app_routes.update_account') }}" id="" class="text-sm text-white rounded py-1 px-2 bg-blue-500">Edit Account</a>
        </div>
        <div class="flex flex-wrap md:flex-nowrap mt-2 w-full md:justify-around md:space-x-6 space-y-6 md:space-y-0">
            <div class="bg-white border border-gray-300 rounded py-2 w-full md:w-1/2">
                <div class="account-title flex items-center w-full border-b border-bg-gray-300 px-2">
                    <p class="text-lg">Acccount Details</p>
                </div>
                <div class="account-title px-2 py-4">
                    <p class="font-semibold">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                    <p class="">{{ current_user.email }} </p>
                </div>
            </div>
            <div class="bg-white border border-gray-300 rounded py-2 w-full md:w-1/2">
                <div class="account-title w-full border-b border-bg-gray-300 px-2 flex justify-between items-center">
                    <p class="text-lg">Address Book</p>
                    <!-- <i class="fa-solid fa-pen cursor-pointer"></i> -->
                </div>
                <div class="account-title px-2 py-4">
                    <p class="font-semibold">Your contact address:</p>
                    <p class="">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                    <p id="user_address" class="">{{ current_user.contact_address }} </p>
                    <p id="user_phone" class="">{{ current_user.phone_number }} </p>
                </div>
            </div>
        </div>
        {% if current_user.__class__.__name__ != 'User' %}
            <div class="flex mt-6 w-full space-x-6 pr-0 md:pr-6">
                <div class="bg-white border border-gray-300 rounded py-2 w-full md:w-1/2">
                    <div class="account-title flex items-center w-full border-b border-bg-gray-300 px-2">
                        <p class="text-lg">License Details</p>
                    </div>
                    <div class="account-title px-2 py-4">
                        <p class="text-gray-600 mb-2">Number: {{ current_user.drivers_license_number }} </p>
                        <p class="text-gray-600 mb-2">Expiration: {{ current_user.license_expiration_date }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='scripts/account.js') }}"></script>
{% endblock %}
