<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Delivery</title>
    <link rel="icon" href="{{url_for('static', filename='images/hero-bike.svg')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/base.css')}}">
    {% block link %}{% endblock %}
    <script src="{{url_for('static', filename='scripts/jquery-3.7.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/header.js')}}"></script>
</head>
<body>
    <div class="container mx-auto max-w-screen-xl">
        {% include 'header.html' %}
        <main class="">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
