{% extends 'dashboard.html' %}
{% block dashboard_content %}
    <div class="w-full mt-2">
        <!-- Buttons for toggling between delivery status -->
        <div class="mb-4">
            <button id="show-pending" class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">Pending</button>
            <button id="show-fulfilled" class="bg-green-500 text-white px-4 py-2 rounded-md">Delivered</button>
        </div>
        <div id="delivery-cards" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="border border-gray-300 shadow rounded p-4">
                <p class="font-medium text-base">From: port harcourt</p>
                <p class="text-gray-600 text-sm">To: Logos</p>
                <p class="text-gray-600 text-sm">Status: Pending</p>
                <button class="bg-orange-500 text-white px-2 py-1 rounded-md mt-2 track-button" data-order-id="${delivery.order_id}">Track</button>
            </div>
        </div>
    </div>
{% endblock %}
