{% extends 'dashboard.html' %}
{% block dashboard_content %}
    <div class="w-full mt-2">
        <!-- Buttons for toggling between delivery status -->
        <div class="mb-4">
            {% if current_user.__class__.__name__ == "User" %}
            <button id="show-all" class="bg-orange-500 text-white px-4 py-2 rounded-md mr-2">All</button>
            <button id="show-pending" class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">Pending</button>
            <button id="show-fulfilled" class="bg-green-500 text-white px-4 py-2 rounded-md">Delivered</button>
            {% else %}
            <button id="show-pending" class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">Pending</button>
            <button id="show-fulfilled" class="bg-green-500 text-white px-4 py-2 rounded-md">Delivered</button>
            {% endif %}
        </div>
        <div id="delivery-cards" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        </div>
    </div>
    <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50 z-50" id="custom-confirm-popup">
        <div class="bg-white rounded p-4 space-y-4 text-center">
            <p>Are you sure you want to delete this delivery?</p>
            <button id="confirm-yes" class="bg-blue-500 text-white px-4 py-2 rounded-lg mr-2">Yes</button>
            <button id="confirm-no" class="bg-gray-400 text-white px-4 py-2 rounded-lg">No</button>
        </div>
    </div>

    <script>
        const myDeliveries = {{ my_deliveries | tojson | safe }}
        const currentUser = "{{ current_user.__class__.__name__ }}"
    </script>
    <script src="{{ url_for('static', filename='scripts/deliveries.js') }}"></script>
{% endblock %}
