{% extends 'base.html' %}
{% block content %}
<section class="form_base flex justify-center items-center min-h-screen px-4 lg:px-6 bg-white">
    <div class="form_base-inner flex flex-col md:flex-row w-full h-full rounded-md shadow-lg bg-stone-300 justify-center mt-12">
        <div class="form_image w-full md:w-1/5 lg:w-2/5 md:rounded-l-md"></div>
        <div class="form_content w-full h-full md:w-4/5 lg:w-3/5 flex flex-col justify-center items-center py-4 px-2">
            {% block form %}
            {% endblock %}
        </div>
  </div>
</section>
{% endblock %}
