<section id="hero" class="hero pt-16 flex flex-col items-center md:flex-row px-4 md:px-6 lg:px-12 pb-12 md:pb-10 pt-28 md:pt-20">
    <div class="hero-left md:w-1/2 md:pr-6 flex items-center">
        <div class="hero-left-content text-center md:text-start md:mb-0">
            <h1 class="text-4xl">
                C&C Logistics: Your Parcel's Perfect Partner
            </h1>
            <p class="text-lg mt-4 md:mt-6 mb-8 md:mb-12">
                Are you tired of delivery delays and complicated logistics? Say hello to B-Logistics Delivery, your trusted link to fast and efficient parcel delivery.
            </p>

            <a href="/login" class="px-4 py-4 md:px-6 md:py-4 text-white rounded text-xl">Request Delivery</a>
        </div>
    </div>
    <div class="hero-right p-10 md:p-0 md:w-1/2">
        <img src="{{url_for('static', filename='images/hero-bike.svg')}}">
    </div>
</section>
