{% extends 'base.html' %}

{% block content %}
    {% include 'hero.html' %}
    {% include 'how_it_works.html' %}
    {% include 'features.html' %}
    {% include 'reviews.html' %}
    {% include 'contact.html' %}
    {% include 'footer.html' %}
    <div id="return-btn" class="fixed bottom-0 right-0 bg-orange-400 rounded p-4 m-6 cursor-pointer">
        <i class="fa-solid fa-arrow-up text-white"></i>
    </div>

<script src="{{ url_for('static', filename='scripts/index.js') }}?{{ cache_id }}"></script>
{% endblock %}
