{% extends 'dashboard.html' %}
{% block dashboard_content %}
    <div class="request-delivery flex justify-around mt-4 space-x-2 w-full overflow-y-auto relative">
        {% block confirm_request %}{% endblock %}
        <form method="POST" enctype="multipart/form-data" class="w-full max-w-lg mx-aut p-4 border rounded-xl shadow-lg" id="request_form">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                <div class="text-gray-600 text-sm font-semibold">{{ form.pickup_address.label() }}</div>
                {{ form.pickup_address(id="pickup_address", class="form-input w-full p-2 rounded border bg-gray-100") }}
                <div id="pickupError" class="error-message text-red-300 text-sm"></div>
            </div>

            <div class="mb-4">
                <div class="text-gray-600 text-sm font-semibold">{{ form.delivery_address.label() }}</div>
                {{ form.delivery_address(id="delivery_address", class="form-input w-full p-2 rounded border bg-gray-100") }}
                <div id="deliveryError" class="error-message text-red-300 text-sm"></div>
            </div>

            <div class="mb-4">
                <div class="text-gray-600 text-sm font-semibold">{{ form.item_description.label() }}</div>
                {{ form.item_description(id="item_description", class="form-input w-full p-2 rounded border bg-gray-100") }}
            </div>

            <div class="grid grid-cols-2 gap-4">
            <div class="mb-4">
                <div class="text-gray-600 text-sm font-semibold">{{ form.contact_person.label() }}</div>
                {{ form.contact_person(id="contact_person", class="form-input w-full p-2 rounded border bg-gray-100") }}
            </div>

            <div class="mb-4">
                <div class="text-gray-600 text-sm font-semibold">{{ form.contact_phone_number.label() }}</div>
                {{ form.contact_phone_number(id="contact_phone_number", class="form-input w-full p-2 rounded border bg-gray-100") }}
            </div>
            </div>

            <div class="mb-4">
                <div class="text-gray-600 text-sm font-semibold">{{ form.delivery_instruction.label() }}</div>
                {{ form.delivery_instruction(id="delivery_instruction", class="form-input w-full p-2 rounded border bg-gray-100") }}
            </div>
            
            <div class="mb-4">
                <div class="text-gray-600 text-sm font-semibold flex items-center">
                    {{ form.set_pickup_time.label() }}
                    {{ form.set_pickup_time(id="set_pickup_time", class="ml-2 rounded border bg-gray-100") }}
                </div>
            </div>
            
            <div id="pickup-time" class="mb-4">
                <div class="text-gray-600 text-sm font-semibold">{{ form.pickup_time.label() }}</div>
                {{ form.pickup_time(id="pickup_time", class="form-input w-full p-2 rounded border bg-gray-100") }}
            </div>
            <div class="text-center">
                {{ form.submit(id="book_delivery", class="bg-orange-500 text-white p-2 rounded hover:bg-orange-700 cursor-pointer") }}
            </div>
        </form>
        <div class="hidden" id="googleMap"></div>
    </div>
    <script src="{{ url_for('static', filename='scripts/request.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZcq4L2alxdT4eaznBBvWsa9BR266O2kc&callback=initMap&libraries=places" async defer></script>

{% endblock %}


