{% extends 'dashboard.html' %}
{% block dashboard_content %}
    <div class="my-account mt-4 relative">
        <div class="flex flex-wrap md:flex-nowrap mt-2 w-full md:justify-around md:space-x-6 space-y-6 md:space-y-0"  style="filter: blur(1px);" >
            <div class="bg-white border border-gray-300 rounded py-2 w-full md:w-1/2">
                <div class="account-title flex items-center w-full border-b border-bg-gray-300 px-2">
                    <p class="text-lg">Acccount Details</p>
                </div>
                <div class="account-title px-2 py-4">
                    <p class="font-semibold">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                    <p class="">{{ current_user.email }} </p>
                </div>
            </div>
            <div class="bg-white border border-gray-300 rounded py-2 w-full md:w-1/2">
                <div class="account-title w-full border-b border-bg-gray-300 px-2 flex justify-between items-center">
                    <p class="text-lg">Address Book</p>
                    <a href="#" id="editButton" class="text-sm text-blue-500">Edit</a>
                    <!-- <i class="fa-solid fa-pen cursor-pointer"></i> -->
                </div>
                <div class="account-title px-2 py-4">
                    <p class="font-semibold">Your contact address:</p>
                    <p class="">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                    <p id="user_address" class="">{{ current_user.contact_address }} </p>
                    <p id="user_phone" class="">{{ current_user.phone_number }} </p>
                </div>
            </div>
        </div>
        {% if current_user.__class__.__name__ != 'User' %}
            <div class="flex mt-6 w-full space-x-6 pr-0 md:pr-6">
                <div class="bg-white border border-gray-300 rounded py-2 w-full md:w-1/2">
                    <div class="account-title flex items-center w-full border-b border-bg-gray-300 px-2">
                        <p class="text-lg">License Details</p>
                    </div>
                    <div class="account-title px-2 py-4">
                        <p class="text-gray-600 mb-2">Number: {{ current_user.drivers_license_number }} </p>
                        <p class="text-gray-600 mb-2">Expiration: {{ current_user.license_expiration_date }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form_base-inner flex flex-col w-3/4 lg:w-1/2 mx-auto absolute top-0 right-0 left-0 mt-4 h-fit">
            <form method="POST" enctype="multipart/form-data" class="w-full bg-white max-w-xl mx-auto p-4 border rounded-xl shadow-lg space-y-4">
                <div class="flex justify-end">
                    <a href="{{ url_for('app_routes.account') }}"><i class="fa-solid fa-xmark"></i></a>
                </div>
                {{ form.hidden_tag() }}

                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <div class="flash-message px-4 py-3 text-center" role="alert" data-id="danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="mb-4">
                    <div class="text-gray-600 text-sm font-semibold">{{ form.phone_number.label() }}</div>
                    {{ form.phone_number(class="form-input w-full p-2 rounded border bg-gray-100") }}
                </div>
                <div class="mb-4">
                    <div class="text-gray-600 text-sm font-semibold">{{ form.contact_address.label() }}</div>
                    {{ form.contact_address(class="form-input w-full p-2 rounded border bg-gray-100") }}
                </div>
                {% if current_user.__class__.__name__ != 'User' %}
                    <div id="agent_fields">
                        <div class="mb-4">
                            <div class="text-gray-600 text-sm font-semibold">{{ form.drivers_license_number.label() }}</div>
                            {{ form.drivers_license_number(id="drivers_license_number", class="form-input w-full p-2 rounded border bg-gray-100") }}
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                {{ form.license_expiration_date.label(class="block text-gray-600 text-sm font-semibold") }}
                                {{ form.license_expiration_date(id="license_expiration_date", class="datepicker form-input w-full p-2 rounded border bg-gray-100") }}
                            </div>
                            <div>
                                {{ form.license_image_file.label(class="block text-gray-600 text-sm font-semibold") }}
                                {{ form.license_image_file(id="license_image_file", class="form-input w-full p-2 rounded border bg-gray-100") }}
                            </div>
                        </div>

                    </div>
                {% endif %}
            <div class="text-center">
                {{ form.submit(class="bg-orange-500 text-white p-2 rounded hover:bg-orange-700 cursor-pointer") }}
            </div>
            </form>

        </div>
    </div>
    <script>
        $reg_type = "{{ current_user.__class__.__name__ }}"
    </script>

    <script src="{{ url_for('static', filename='scripts/update_account.js') }}"></script>
{% endblock %}
